# EditorConfig helps developers define and maintain consistent coding styles between different editors and IDEs
root = true

# Top-level settings for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
max_line_length = 120

# Java files
[*.java]
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120

# YAML files
[*.yml]
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# Markdown files
[*.md]
max_line_length = off
trim_trailing_whitespace = false

# Properties files
[*.properties]
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# XML files
[*.xml]
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

